<h3>Detalhes de usuário</h3>
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th>Perfil</th>
						<th>Pessoa</th>
						<th>Login</th>
						<th>Usuario Saiku</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="u in vm.listaUsuarios">
            <td>{{u.perfil}}</td>
            <td>{{u.pessoa}}</td>
            <td>{{u.login}}</td>
            <td>{{u.usuarioSaiku}}</td>
            <td><a ui-sref="usuario.editar({id : u.idUsuario})" class="text-info" data-toggle="tooltip" data-placement="top" title="Clique para editar"><i class="fa fa-edit"></i></a></td>
            <td><a href="" ng-click="vm.excluirUsuario(u.idUsuario)" class="text-danger" data-toggle="tooltip" data-placement="top" title="Clique para excluir"><i class="fa fa-trash-o"></i></a></td>
          </tr>
				</tbody>
			</table>
			<a  ui-sref="usuario.cadastrar" id="plus" data-toggle="tooltip" data-placement="top" title="Cadastrar novo usuário"><i class="fa fa-plus fa-lg icon"></i></a>
			<!-- <a ui-sref="usuario.cadastrar" class="novou">Cadastrar novo usuário</a> -->
