<h3>Cadastro de usuário</h3>
<form  novalidate ng-controller="usuarioCadastrarController" name="formCadastro">
    <div class="row">
        <div class="col-md-6 padding15px">
            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="nome" name="nome" ng-model="vm.dadosUsuario.nome">
                <label class="text-left" for="nome"><span data-text="Nome completo">Nome completo</span></label>
            </fieldset>

            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="cpf" name="cpf" ng-model="vm.dadosUsuario.cpf">
                <label class="text-left" for="cpf"><span data-text="CPF">CPF</span></label>
            </fieldset>

            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="rg" name="rg" ng-model="vm.dadosUsuario.rg">
                <label class="text-left" for="rg"><span data-text="RG">RG</span></label>
            </fieldset>

            <fieldset class="form-fieldset ui-input">
                <select required id="nomeFuncao" class="" ng-model="vm.dadosUsuario.idFuncao" ng-options="func.idFuncao as func.descricao for func in vm.dadosFuncao">
                    <option value="">Selecione</option>
                </select>
                <label class="text-left" for="nomeFuncao"><span data-text="Função">Função</span></label>
            </fieldset>
            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="login" name="login" ng-model="vm.dadosUsuario.login">
                <label class="text-left" for="login"><span data-text="Login">Login</span></label>
            </fieldset>

            <fieldset class="form-fieldset ui-input">
                <input required type="password" class="" id="senha" name="senha" ng-model="vm.dadosUsuario.senha">
                <label class="text-left" for="senha"><span data-text="Senha">Senha</span></label>
            </fieldset>
        </div>
        <div class="col-md-6 padding15px">
            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="endereco" name="endereco" ng-model="vm.dadosUsuario.endereco">
                <label class="text-left" for="endereco"><span data-text="Endereço">Endereço</span></label>
            </fieldset>

            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="numero" name="numero" ng-model="vm.dadosUsuario.numero">
                <label class="text-left" for="numero"><span data-text="Número">Número</span></label>
            </fieldset>
            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="bairro" name="bairro" ng-model="vm.dadosUsuario.bairro">
                <label class="text-left" for="bairro"><span data-text="Bairro">Bairro</span></label>
            </fieldset>

            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="cidade" name="cidade" ng-model="vm.dadosUsuario.nomeCidade">
                <label class="text-left" for="cidade"><span data-text="Cidade">Cidade</span></label>
            </fieldset>

            <!--<fieldset class="form-fieldset ui-input">-->
            <!--<select required id="estado" class="" ng-model="vm.dadosUsuario.idEstado"-->
            <!--ng-options="est.idEstado as est.nomeEstado for est in vm.dadosEstado">-->
            <!--<option value="">Selecione</option>-->
            <!--</select>-->
            <!-- <label class="text-left" for="estado"><span data-text="Estado">Estado</span></label>-->
            <!-- </fieldset>-->
            <fieldset class="form-fieldset ui-input">
                <input required type="text" class="" id="telefone" name="telefone" ng-model="vm.dadosUsuario.telefone">
                <label class="text-left" for="telefone"><span data-text="Telefone">Telefone</span></label>
            </fieldset>
        </div>
    </div>
    <button type="button" class="btn btn-success" style="float: right;"  ng-disabled="formCadastro.$invalid" ng-click="vm.usuarioSalvar()">Enviar</button>
</form>
