# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
SmallBI_Importacao/nbproject/private/
SmallBI_Importacao/build/
SmallBI_Importacao/nbbuild/
SmallBI_Importacao/dist/
SmallBI_Importacao/nbdist/
SmallBI_Importacao/.nb-gradle/ 
SmallBI_Importacao (BETA)/nbproject/private/
SmallBI_Importacao (BETA)/build/
SmallBI_Importacao (BETA)/nbbuild/
SmallBI_Importacao (BETA)/dist/
SmallBI_Importacao (BETA)/nbdist/
SmallBI_Importacao (BETA)/.nb-gradle/
SmallBI_Assistente_de_Importacao/nbproject/private/
SmallBI_Assistente_de_Importacao/build/
SmallBI_Assistente_de_Importacao/nbbuild/
SmallBI_Assistente_de_Importacao/dist/
SmallBI_Assistente_de_Importacao/nbdist/
SmallBI_Assistente_de_Importacao/.nb-gradle/ 
