<h3>Detalhes das Funções</h3>
<table class="table table-bordered table-striped table-condensed">
  <thead>
  <tr>
    <th>Função</th>
    <th class="text-center">Editar</th>
    <th class="text-center">Excluir</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="f in vm.listaFuncoes">
    <td>{{f.descricao}}</td>
    <td><a ui-sref="funcao.editar({id : f.idFuncao})" class="text-info" data-toggle="tooltip" data-placement="top" title="Clique para editar"><i class="fa fa-edit"></i></a></td>
    <td><a href="" ng-click="vm.excluirFuncao(f.idFuncao)" class="text-danger" data-toggle="tooltip" data-placement="top" title="Clique para excluir"><i class="fa fa-trash-o"></i></a></td>
  </tr>
  </tbody>
</table>
<a ui-sref="funcao.cadastrar" id="plus" data-toggle="tooltip" data-placement="top" title="Cadastrar nova função"><i class="fa fa-plus fa-lg icon"></i></a>
<!-- <a ui-sref="funcao.cadastrar" class="novou">Cadastrar nova função</a> -->


