<div class="pg-painel">
  <div class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <div class="avatar">
      <img src="images/logo.png" />
      <strong>Nome Empresa</strong>
    </div>
    <ul class="panel-group" id="accordion">
      <li class="fa fa-home active"><a href="#home"><span>Dashboard</span></a></li>
      <li class="fa fa-bank">
        <a href="#" data-toggle="collapse" data-target="#dadosCliente" data-parent="#accordion"><span>Dados do Cliente</span></a>
        <ul id="dadosCliente" class="collapse ulCollapse">
          <li><a ui-sref="cliente.cadastrar"><span>Cadastrar</span></a></li>
          <li><a ui-sref="cliente.listar"><span>Listar</span></a></li>
        </ul>
      </li>
      <li class="fa fa-user">
        <a href="#" data-toggle="collapse" data-target="#dadosUsuario" data-parent="#accordion"><span>Dados do Usuário</span></a>
        <ul id="dadosUsuario" class="collapse ulCollapse">
          <li><a ui-sref="usuario.cadastrar"><span>Cadastrar</span></a></li>
          <li><a ui-sref="usuario.listar"><span>Listar</span></a></li>
        </ul>
      </li>
      <li class="fa fa-cubes"><a href="#opcao3"><span>Cubos</span></a></li>
      <li class="fa fa-upload"><a href="#opcao4"><span>Carregar Cubos</span></a></li>
    </ul>
  </div>
  <!-- HOME PAINEL -->
  <section id="home" class="text-center active" ui-view=""></section>

  <footer class="rodape">
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nome do usuário <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Seu Perfil</a></li>
          <li class="divider"></li>
          <li><a href="#"><b>Sair</b></a></li>
        </ul>
      </li>
    </ul>
  </footer>
</div>

