<!-- TOPO -->
<div class="area-topo" xmlns="http://www.w3.org/1999/html">

  <!-- CABEÇALHO -->
  <header class="topo">
    <ul class="areaAcessoUsuario">
      <li><a href="#" title="Entrar" id="btnModalLogin">Entrar</a></li>
      <li><a href="#" title="Cadastro" id="btnModalCadastrar">Cadastrar</a></li>
    </ul>
    <nav class="navbar" role="navigation">

      <div class="">

        <!-- LOGOTIPO / MENU MOBILE-->
        <div class="navbar-header">
          <!-- LOGO -->
          <a href="#" title="SmallBI">
            <h1>Small BI</h1>
          </a>

          <!-- MENU MOBILE TRIGGER -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <!-- MENU -->
        <nav class="collapse navbar-collapse" id="collapse">

          <ul class="nav navbar-nav">

            <li class="link-ativo"><a href="#">Ínicio</a></li>
            <li><a href="#">O que é Business Intelligence?</a></li>
            <li><a href="#">Diferenciais</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#" id="btnModalContato">Contato</a></li>

          </ul>

        </nav>

      </div>
    </nav>
  </header>

</div>

<!-- BANNER -->
<div class="banner">
  <div class="areaTxtBanner container">
    <h2 class=" tituloBanner animated fadeInUp">SmallBI, <br>Lorem ipsum dolor sit amet, consectetur adipiscing.</h2>
    <a href="#" class="linkBanner animated fadeInUp">Saiba mais</a>
  </div>
</div>

<!-- PÁGINA INICIAL -->
<div class="pg pg-inicial">

  <!-- SESSÃO DEFINICAO -->
  <section class="sessaoDefinicao" id="sessaoDefinicao">
    <div class="container">
      <div class="row">

        <!-- TÍTULO SESSÃO -->
        <div class="col-md-3">
          <h4>O que é Business Intelligence?</h4>
        </div>

        <!-- TEXTO SESSÃO -->
        <div class="col-md-9">
          <p>Praesent eget erat id nisi ullamcorper tincidunt. Ut tortor mi, vulputate sit amet porta ultricies, tincidunt vitae lectus. Ut maximus felis non turpis volutpat tempor nec sit amet ex. Praesent consectetur elit nec augue porttitor gravida. Praesent ac tincidunt diam. Aliquam dolor magna, dignissim id aliquet eget, dictum at orci. Pellentesque augue nisi, luctus nec nibh ut, consequat efficitur dolor. Nullam ultricies lectus a facilisis lacinia.</p>
          <img src="images/imgDefinicao.jpg" alt="imagem definição" class="imgDefinicao img-responsive">
          <p>Phasellus a ipsum vitae augue cursus dapibus. Nullam pellentesque nulla lorem, a cursus neque sodales non. Nulla hendrerit bibendum rutrum. Ut non vestibulum urna.</p>
          <p>Donec dui dolor, molestie id leo quis, lacinia volutpat metus. Praesent facilisis mi id mi mattis condimentum. Nullam et venenatis neque. Vivamus id tellus mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque nibh elit, euismod sed porta ac, aliquet et lacus.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SESSÃO DIFERENCIAIS -->
  <section class="sessaoDiferenciais" id="sessaoDiferenciais">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 diferencial">
          <i class="fa fa-database"></i>
          <div class="diferencialInfo">
            <p class="titulo">SQL</p>
            <p class="texto">Importe tabelas direto do seu banco de dados.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 diferencial">
          <i class="fa fa-cubes"></i>
          <div class="diferencialInfo">
            <p class="titulo">Cubos</p>
            <p class="texto">Escolha quais elementos irão compor o cubo.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 diferencial">
          <i class="fa fa-filter"></i>
          <div class="diferencialInfo">
            <p class="titulo">Filtro</p>
            <p class="texto">Escolha como deseja ver os resultados</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SESSÃO PREÇOS -->
  <section class="sessaoPrecos" id="sessaoPrecos">
    <div class="container">
      <div class="areaPrecos">
        <div class="precoServico primeiro">
          <strong>Basico</strong>
          <ul class="informacoesPreco">
            <li class="subtitulo">Usuário Básico</li>
            <li class="preco">R$ 69,00</span></li>
            <li>Item do serviço 1</li>
            <li>Item do serviço 2</li>
            <li>Item do serviço 3</li>
            <li><a href="#" title="Comprar" class="btnComprar">Comprar</a></li>
          </ul>
        </div>
        <div class="precoServico segundo">
          <strong>Plus</strong>
          <ul class="informacoesPreco">
            <li class="subtitulo">Usuário Plus</li>
            <li class="preco">R$ 79,00</li>
            <li>Item do serviço 1</li>
            <li>Item do serviço 2</li>
            <li>Item do serviço 3</li>
            <li><a href="#" title="Comprar" class="btnComprar">Comprar</a></li>
          </ul>
        </div>
        <div class="precoServico terceiro centerScale">
          <strong>Premium</strong>
          <ul class="informacoesPreco">
            <li class="subtitulo">Usuário Premium</li>
            <li class="preco">R$ 89,00</li>
            <li>Item do serviço 1</li>
            <li>Item do serviço 2</li>
            <li>Item do serviço 3</li>
            <li><a href="#" title="Comprar" class="btnComprar">Comprar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- SESSÃO QUEM SOMOS -->
  <section class="sessaoQuemSomos" id="sessaoQuemSomos">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Quem Somos</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SESSÃO COMECE AGORA -->
  <section class="sessaoComeceAgora" id="sessaoComeceAgora">
    <div class="container">
      <div class="row">
        <div class="col-md-12 animated fadeInUp">
          <h6>Comece a utilizar o serviço agora mesmo. Baixe SmallBI Client <b>gratuitamente</b>, via painel do usuário.</h6>
          <a href="#" class="btnAcessar">Acessar</a>
        </div>
      </div>
    </div>
  </section>

</div>

<footer class="rodape">
  <div class="container">
    <div class="row">
      <div class="col-md-4 marca">
        <img class="logo" src="images/logo.png" alt="logo">
        <p>Aenean placerat nunc in tincidunt convallis. Maecenas maximus mauris eget augue placerat porttitor. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12s navRodape">
        <ul>
          <li><a href="#">Ínicio</a></li>
          <li><a href="#">O que é Business Intelligence?</a></li>
          <li><a href="#">Diferenciais</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-12">
        <ul class="areaCopyright">
          <li>© SmallBI 2017.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div id="modalLogin" class="dialog">
  <a href="#" class="dialog-close dialog-close-background btnFecharModal"></a>
  <div class="dialog-container">
    <a href="#" class="dialog-close-icone fa fa-times btnFecharModal"></a>

    <div class="dialog-header">
      <strong>Entrar</strong>
    </div>

    <div class="dialog-content">
      <!-- <button class="btnGoogle" title="Entrar com Google"><span class="fa fa-google-plus"></span> Entrar com Google</button>
      <div class="form-option">ou</div> -->
      <div id="loginForm-modal-login">
        <form class="modalForm" name="formLogin" ng-submit="formLogin.$valid && vm.login()" ng-controller="loginController as vm">
          <label for="login-email-modal-login">E-mail</label>
          <input required name="usuario" type="email" id="login-email-modal-login" placeholder="name@company.com" ng-model="vm.dadosLogin.login">
          <label for="login-password-modal-login">Senha</label>
          <input required name="senha" type="password" id="login-password-modal-login" placeholder="Senha" ng-model="vm.dadosLogin.senha">
          <a href="#" title="Esqueceu sua senha?" class="center-block text-center btnEsqueceuSenha">Esqueceu sua senha?</a>
          <input type="submit" id="login-submit-modal-login" class="btnModal" title="Entrar" value="Entrar">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="modalCadastrar" class="dialog">
    <a href="#" class="dialog-close dialog-close-background btnFecharModal"></a>
    <div class="dialog-container modal-lg" style="overflow: auto;height: 500px;">
        <a href="#" class="dialog-close-icone fa fa-times btnFecharModal"></a>

        <div class="dialog-header">
            <strong>Cadastrar </strong>
            <strong id="tituloModalCadastrar">dados da empresa</strong>
        </div>

        <div class="dialog-content">
            <div id="loginForm-modal-cadastrar" ng-controller="clienteCadastrarController as vm">
                <form class="modalForm" novalidate ng-controller="clienteCadastrarController" name="formCadastro">
                    <div class="row" id="areaEmpresaModal">
                        <div class="col-md-6 padding15px">

                          <label for="razao">Razão Social</label>
                          <input required type="text" class="" id="razao" name="razao" ng-model="vm.dadosCliente.razaoSocial" placeholder="Razão Social">

                          <label for="fantasia">Nome Fantasia</label>
                          <input required type="text" class="" id="fantasia" name="fantasia" ng-model="vm.dadosCliente.nomeFantasia" placeholder="Nome Fantasia">

                          <label for="">CNPJ</label>
                          <input required type="text" class="" id="cnpj" name="cnpj" ng-model="vm.dadosCliente.cnpj" placeholder="CNPJ">

                          <label for="ie">Inscrição Estadual</label>
                          <input required type="text" class="" id="ie" name="ie" ng-model="vm.dadosCliente.ie" placeholder=" Inscrição Estadual">

                          <label for="ramoAtividade">Ramo de Atividade</label>
                          <select required id="ramoAtividade" class="" ng-model="vm.dadosCliente.idRamoAtividade" ng-options="ramo.idRamoAtividade as ramo.descricao for ramo in vm.dadosRamoAtividade">
                            <option value="">Selecione</option>
                          </select>

                          <label for="formaPagamento">Forma de Pagamento</label>
                          <select required id="formaPagamento" class="" ng-model="vm.dadosCliente.idFormaPagamento" ng-options="form.idFormaPagamento as form.descricao for form in vm.dadosFormaPagamento">
                            <option value="">Selecione</option>
                          </select>

                          <label for="plano">Plano</label>
                          <select required id="plano" class="" ng-model="vm.dadosCliente.idPlano" ng-options="plan.idPlano as plan.descricao for plan in vm.dadosPlano">
                            <option value="">Selecione</option>
                          </select>

                          <label for="endereco">Endereço</label>
                          <input required type="text" class="" id="endereco" name="endereco" ng-model="vm.dadosCliente.endereco" placeholder="Endereço">

                          <label for="numero">Número</label>
                          <input required type="text" class="" id="numero" name="numero" ng-model="vm.dadosCliente.numero" placeholder="Número">

                          <label for="bairro">Bairro</label>
                          <input required type="text" class="" id="bairro" name="bairro" ng-model="vm.dadosCliente.bairro" placeholder="Bairro">

                          <label for="cidade">Cidade</label>
                          <input required type="text" class="" id="cidade" name="cidade" ng-model="vm.dadosCliente.nomeCidade" placeholder="Cidade">

                          <label for="telefone">Telefone</label>
                          <input required type="text" class="" id="telefone" name="telefone" ng-model="vm.dadosCliente.telefone" placeholder="Telefone">

                        </div>
                        <div class="col-md-6 padding15px">

                          <label for="nome">Nome completo</label>
                          <input required type="text" class="" id="nome" name="nome" ng-model="vm.dadosCliente.nome" placeholder="Nome completo">

                          <label for="cpf">CPF</label>
                          <input required type="text" class="" id="cpf" name="cpf" ng-model="vm.dadosCliente.cpf" placeholder="CPF">

                          <label for="rg">RG</label>
                          <input required type="text" class="" id="rg" name="rg" ng-model="vm.dadosCliente.rg" placeholder="RG">

                          <label for="nomeFuncao">Função</label>
                          <select required id="nomeFuncao" class="" ng-model="vm.dadosCliente.idFuncao" ng-options="func.idFuncao as func.descricao for func in vm.dadosFuncao">
                            <option value="">Selecione</option>
                          </select>

                          <label for="login">Login</label>
                          <input required type="text" class="" id="login" name="login" ng-model="vm.dadosCliente.login" placeholder="Login">

                          <label for="senha">Senha</label>
                          <input required type="password" class="" id="senha" name="senha" ng-model="vm.dadosCliente.senha" placeholder="Senha">

                        </div>
                    </div>
                  <input type="submit" class="btnModal" id="btnEnviar" style="float: right;" value="Enviar" ng-disabled="formCadastro.$invalid" ng-click="vm.clienteSalvar()">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalContato" class="dialog"></div>

