<h3>Lista de cubos</h3>
<!-- <table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cliente</th>
            <th>Tamanho</th>
            <th class="text-center">Visualizar</th>
            <th class="text-center">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.listaCubos">
            <td>{{item.nomeCubo}}</td>
            <td>{{item.cliente}}</td>
            <td>{{item.tamanho}}</td>
        </tr>
    </tbody>
</table> -->
<div class="grid-container">
    <ul class="rig columns-4">
        <li ng-repeat="item in vm.listaCubos">
          <div ng-click="vm.analisarCubo(item.idCubo)">
            <a href="http://backend.smallbi.com.br:28080" target="_blank" title="{{item.nomeCubo}}"><img src="images/cube.png" alt="{{item.nomeCubo}}"></a>
            <h3>{{item.nomeCubo}}</h3>
            <span>{{item.cliente}}</span>
            <p><i class="fa fa-floppy-o"></i> {{item.tamanho}} MB</p>
          </div>
        </li>
    </ul>
</div>
