<h3>Cadastro de Perfil</h3>
<form  novalidate ng-controller="funcaoCadastrarController" name="formCadastro">
  <div class="form-group">
    <label class="text-left" style="display: block;" for="nome">Nome do perfil</label>
    <input required type="text" class="form-control" id="nome" name="nome" ng-model="vm.dadosPerfil.descricao">
  </div>
  <button type="button" class="btn btn-success" style="float: right;"  ng-disabled="formCadastro.$invalid" ng-click="vm.perfilSalvar()">Enviar</button>
</form>
