<h3>Cadastro de Ramos de Atividade</h3>
<form  novalidate ng-controller="ramoCadastrarController" name="formCadastro">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<fieldset class="form-fieldset ui-input">
				<input required type="text" class="form-control" id="nome" name="nome" ng-model="vm.dadosRamo.descricao">
				<label class="text-left" for="nome"><span data-text="Nome do ramo de atividade">Nome do ramo de atividade</span></label>
			</fieldset>
		</div>
	</div>
	<button type="button" class="btn btn-success" style="float: right;"  ng-disabled="formCadastro.$invalid" ng-click="vm.ramoSalvar()">Enviar</button>
</form>
